div.gallery {
    margin: 10px;
    border: 1px solid darkgrey;
    float: left;
    width: 200px;
    height: 275px;
    top: 100px;
    position: relative;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.form-drop{
  float: left;
}
div.main{
  padding-top: 20px;
  height:900px;

}
nav{
  height: 50px;

}
div.footer{
  height: 100px;
}

div.coin-nav{
  top:100px;
  left:40px;
  width:40%;
  position: relative;
}
div.description{
  top:60px;
  width: 60%;
  position: relative;
  left:40px;
  font-size: 16px;
}
